<!DOCTYPE html>
<html>

<head>

    {{> private ajaxErrorHandler="true"}}

    <title>Create a new chat</title>

    <!-- JQuery ui -->
    <link rel="stylesheet" type="text/css" href="/src/jquery-ui-checkbox-radio.min.css">

    <script src="/src/jquery-ui-checkbox-radio.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/createChat.css">

    <script src="/scripts/createChat.js"></script>

</head>

<body>
{{> enable_js}}
<div class="page_container">
    <div class="header">
        <table class="header-aligner">
            <tr>
                <td>{{> backButton}}</td>
                <td>
                    <h3 class="header-text">Create a new chat</h3>
                </td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="errorMessage"></div>

    <div class="settings-box">
        <form id="form">
            <h4 for="chat-name"><b>Chat Name</b></h4>
            <input id="chat-name" type="text" placeholder="Enter the chat name" name="chat-name" required>

            <fieldset>
                <legend>Chat addmission type</legend>
                <label for="free-join" class="radio-label">Anyone can join</label>
                <input type="radio" class="chat-admission-type-checkbox" name="chat-admission-type-checkbox"
                       id="free-join">
                <label for="u-req" class="radio-label">By user request</label>
                <input type="radio" class="chat-admission-type-checkbox" name="chat-admission-type-checkbox" id="u-req">
            </fieldset>

            <button id="submit" type="submit">Create chat</button>
        </form>
    </div>
</div>
</body>

</html>
