<div class="menu-bars-container">
  <div class="menu-bar"></div>
  <div class="menu-bar"></div>
  <div class="menu-bar"></div>
</div>
<div class="menu-container">
  <table id="menu-aligner" style="width:100%">
    <tr>
      <td>
        <div class="logout menu-option pointer" id="logout">Log out</div>
      </td>
    </tr>
  </table>
</div>
