<div class="menu-icon-container">
    <div class="notification-circle" id="totalNotificationsNum"></div>
    <div class="menu-bar"></div>
    <div class="menu-bar"></div>
    <div class="menu-bar"></div>
</div>
<div class="menu-container">
    <table id="menu-aligner" style="width:100%">
        <tr>
            <td>
                <div class="logout menu-option pointer" id="logout">Log out</div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="position:relative;" class="manageChats menu-option pointer" id="manageChats">Manage your
                    chats
                    <div class="notification-circle" id="manageChatsNotificationsNum"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="changeEmail menu-option pointer" id="changeEmail">Change email</div>
            </td>
        </tr>
    </table>
</div>
