html {
}

#global-chat-search {
    width: 100%;
    border-radius: 5px;
}

.autocomplete-error-message {
    text-align: center;
    color: red;
    padding: 20px 20px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #a0a0a0;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.global-chat-search-container {
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

.chats-box {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
    border: 1px solid;
    border-radius: 5px;
    border-color: #a0a0a0;
    padding: 20px 20px;
}

.chat-ref {
    overflow-wrap: break-word;
    word-wrap: break-word;
    border: 1px solid;
    border-radius: 5px;
    border-color: #a0a0a0;
    background-color: white;
    padding: 20px 20px;
}

.chat-ref:hover {
    background-color: #f0f0f0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    box-sizing: border-box;
}

button.create-chat {
    width: 70%;
    margin: 20px;
}
