html {}

button.reset-button{
  width:50%;
  margin-top: 20px;
}

div.errorMessage{
  color: red;
  width: 60%;
}

.separate-box{
  text-align: center;
  padding: 20px 20px;
  border: 1px solid;
  border-radius: 5px;
  border-color: #a0a0a0;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
