html {
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin-top: 20px;
}

div.errorMessage {
  color: red;
  width: 60%;
}

div.passwordFeedback{
    color:#bdb32b;
    width: 80%;
}

div.passwordWarning{
    color: #991421;
    width: 80%;
}

.separate-box {
  text-align: center;
  padding: 20px 20px;
  border: 1px solid;
  border-radius: 5px;
  border-color: #a0a0a0;
  margin: auto;
  margin-top: 20px;
}

.ui-progressbar {
  position: relative;
}

.progressLabelContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.progressLabel {
  margin-top: 5px;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
}

